main {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.red_1 {
    color: red;
}

.image1 {
    height: 500;
    width: 450px;
    margin: 15px 2px 10px 20px;
}

.parrafo {
    color: black;
}

div {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

